<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spqr.n95decon" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="N95Decon"
        android:theme="@style/AppTheme" >

        <service
            android:name="spqr.n95decon.BLEService" />

        <activity
            android:name="spqr.n95decon.DetailActivity"
            android:label="VeriMask" />

        <activity
            android:name="spqr.n95decon.MainActivity"
            android:label="VeriMask" >

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:host="gatewaycloud.elasticbeanstalk.com" android:pathPrefix="/public/ble/powerblade/" android:scheme="http" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:host="gatewaycloud.elasticbeanstalk.com/public/ble/powerblade/" android:scheme="http" />-->
<!--            </intent-filter>-->

        </activity>


    </application>

</manifest>
